<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estou no cadastrar Clientes</h1>

    <form method="post" action="/salvarClientes">
        <p>Nome:</p>
        <input type="text" name="nome">
        <p>Telefone:</p>
        <input type="text" name="telefone">
        <p>Email:</p>
        <input type="text" name="email">
       
        <button type="submit">Cadastrar</button>
    </form>

    <p>{{mensagem}}</p>
    
    <a href="/">Sair</a>
</body>
</html>