<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>
    <h1>Carros Vendidos</h1>

    <table style="width:100%">
    
    <tr>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Preço (R$)</th>
        <th>Ano</th>
        <th>Quilometragem (KM)</th>
    </tr>
    {% for c in carros %}
    <tr>
        <td>{{c[0]}}</td>
        <td>{{c[2]}}</td>
        <td>{{c[1]}}</td>
        <td>{{c[3]}}</td>
        <td>{{c[4]}}</td>
        <td>{{c[5]}} </td>
    </tr>
    
    {% endfor %}
    </table>
    

   
    <a href="/">Sair</a>
</body>
</html>